/* Estilos globales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #E5E1DA;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* El contenedor principal (contenido de la página) */
.content {
    flex: 1; /* Esto asegura que el contenido empuje el footer hacia abajo */
}

/* Estilos del footer */
footer {
    background-color: #000;
    color: white;
    padding: 20px 0;
    text-align: center;
}
