.mujeres-container {
  background-color: #E5E1DA;
  padding: 20px;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  display: flex;
  flex-direction: column; /* Ordena verticalmente los elementos */
}

.vitrina {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1; /* Hace que la sección de productos ocupe el espacio restante */
}

.producto {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;
  transition: transform 0.2s ease-out;
}

.producto:hover,
.producto:active {
  transform: scale(1.1);
}

.producto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.busqueda input[type="text"] {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.busqueda button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.busqueda button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Footer Ajustado */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  margin-top: auto; /* Empuja el footer hacia la parte inferior */
  text-align: center;
  width: 100%;
}
